<div id="navbar">
    <div class="container">
        <div class="topbar-brand pull-left">
          <router-link :to="{ name: '' }" class="navbar-brand">辅城网络</router-link>
        </div>

        <ul class="nav navbar-nav hidden-xs">
          <li>
            <a :class="{'active': routeRoot == 'home' && !contactVisible}">
              <span>首 页</span>
            </a>
          </li>
          <li>
            <a :class="{'active': routeRoot == 'stream' && !contactVisible}">
              <span>市场动态</span>
            </a>
          </li>
          <li>
            <a :class="{'active': routeRoot == 'companies' && !contactVisible}">
              <span>搜索引擎</span>
            </a>
          </li>
          <li>
              <a class="dropdown-toggle" :class="{'active': routeRoot === 'company'}" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
                <span class="ng-scope">业务管理</span> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a >公司主页</a>
                </li>
                <li>
                  <a >公司微店</a>
                </li>
                <li>
                  <a>公司动态</a>
                </li>
              </ul>
              <a href="/access/login">
                <span>业务管理</span>
              </a>
          </li>
          <li>
            <a :class="{'active': routeRoot == 'articles'}">新闻资讯</a>
          </li>
          <li>
            <a :class="{'active': routeName == 'circles.auctions'}">供应</a>
          </li>
          <li>
            <a :class="{'active': routeName == 'circles.biddings'}">求购</a>
          </li>
        </ul>
    </div>
</div>
