<div id="brandEnterprise">
  <div class="row">
    <div class="panel small-12 columns">
      <div class="penel-heading">
        <h2><i></i> 品牌企业<span>Brand Enterprise</span></h2>
        <a href="#" target="_blank" class="more">更多...</a>
      </div>
      <div class="panel-body">
        <ul class="no-bullet">
          <li>
            <a href="#" target="_blank">
              <img src="~@/assets/images/ic_home_p01.png" alt=""/>
              <span>特盛纺织</span>
            </a>
          </li>

          <li>
            <a href="#" target="_blank">
              <img src="~@/assets/images/ic_home_p02.png" alt=""/>
              <span>华旭服饰</span>
            </a>
          </li>

          <li>
            <a href="#" target="_blank">
              <img src="~@/assets/images/ic_home_p03.png" alt=""/>
              <span>华旭服饰</span>
            </a>
          </li>

          <li>
            <a href="#" target="_blank">
              <img src="~@/assets/images/ic_home_p04.png" alt=""/>
              <span>华旭服饰</span>
            </a>
          </li>

          <li>
            <a href="#" target="_blank">
              <img src="~@/assets/images/ic_home_p05.png" alt=""/>
              <span>华旭服饰</span>
            </a>
          </li>

          <li>
            <a href="#" target="_blank">
              <img src="~@/assets/images/ic_home_p06.png" alt=""/>
              <span>华旭服饰</span>
            </a>
          </li>

          <li>
            <a href="#" target="_blank">
              <img src="~@/assets/images/ic_home_p07.png" alt=""/>
              <span>华旭服饰</span>
            </a>
          </li>

          <li>
            <a href="#" target="_blank">
              <img src="~@/assets/images/ic_home_p08.png" alt=""/>
              <span>华旭服饰</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
